fastapi
uvicorn
pydantic
chromadb
sentence-transformers
requests
python-dotenv
python-docx
python-pptx
openpyxl
 
PyJWT
bcrypt
python-dateutil
paddleocr
PyMuPDF
Pillow
numpy
psutil
python-multipart
 
paddleocr
PyMuPDF
Pillow
numpy
psutil
apscheduler
